<footer class="footer">
  <div class="footer-dark">

    <div class="flexible-container">

      <div class="copyleft">
        <p class="copyright__contact"><%= info.copyright %></p>
        <p class="copyright__contact"><%= info.phone %></p>
        <p class="copyright__contact"><%= info.email %></p>
        <p class="copyright__contact"><%= info.city %></p>
      </div>
      <div class="copyright">
        &copy;
        <%= info.year %>
      </div>
    </div>
  </div>
</footer>
