<footer class="footer">
  <div class="footer-dark">

    <div class="flexible-container clearfix">
      <div class="footer__info-wrapper">
        <div class="copyleft">
          <p class="copyright__contact"><%= info.copyright %></p>
          <p class="copyright__contact"><%= info.phone %></p>
          <p class="copyright__contact"><%= info.email %></p>
          <p class="copyright__contact"><%= info.city %></p>
        </div>
        <div class="copyright">
          &copy;
          <%= info.year %>
        </div>
      </div>
      <div class="footer__feedback-wrapper">
        <div class="footer__feedback">
          <h2 class="footer__feedback__title">
            Остались вопросы?
          </h2>
          <p class="footer__feedback__subtitle"><span class="footer__feedback__title__wow">Напишите нам</span>, и мы с радостью на них ответим</p>
          <div class="r5mFeedback footer__feedback__form">
            <form action="/feedback" class="r5mFeedback__form">
              <label class="r5mFeedback__label r5mFeedback__label_contacts">
                <span class="r5mFeedback__placeholder">Введите Ваше имя*</span>
                <input class="r5mFeedback__input" name="name" required type="text" />
              </label>
              <label class="r5mFeedback__label r5mFeedback__label_contacts last">
                <span class="r5mFeedback__placeholder">E-mail или телефон*</span>
                <input class="r5mFeedback__input" name="email" type="text" required />
              </label>
              <label class="r5mFeedback__label r5mFeedback__label_text">
                <span class="r5mFeedback__placeholder">Описание Ваших пожеланий</span>
                <textarea class="r5mFeedback__text" name="text"></textarea>
              </label>
              <button class="r5mFeedback__submit-button submit-button reasons-offer__actions__order r5m-action" type="submit">
                <!-- <i class="fa fa-check"></i>  -->
                Задать вопрос
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom"></div>
  </div>
</footer>
